:root {
  --fixed_white: #fff;
  --fixed_dark: #404040;
  --text_color: #cacaca;
  --second_bg: #f0f0f0;
  --main_bg: #18191a;
  --shadow_color: 0 0 0 0 rgba(115, 115, 117, 0.11),
    0 4px 16px 0 rgba(167, 175, 183, 0.33);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.7;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
