:root {
  --fixed-white: #fff;
  --fixed-dark: #404040;
  --text-color: #2c2f34;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.7;
}
